/* .pic-div{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
    flex-direction: row;
} */


.pic-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(4,3fr); */
    justify-content: space-around;
}

.pic-div>img{
    width: 100%;

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .pic-div{
        display: grid;
            grid-template-columns: repeat(1, 1fr);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .pic-div {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            
        }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .pic-div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .pic-div {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.pic-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}